<table>
    <tr>
        <td>Nama </td>
        <td>Umur </td>
        <td>Jenis Kelamin </td>
        <td>Alamat </td>
        <td>Action </td>
    <tr>
    <% @authors.each do |a| %>
    <tr>
        <td><%= a.name %></td>
        <td><%= a.age %></td>
        <td><%= a.gender %></td>
        <td><%= a.address %></td>
        <td><%= link_to 'Show', author_path(a) %>
    <tr>
    <% end %>
<table>