<table>
    <tr>
        <td>No.</td>
        <td>Title</td>
        <td>Price</td>
        <td>Page</td>
        <td>Description</td>
    </tr>
    <% @books.each do |b| %>
    <tr>
        <td><%= b.id %></td>
        <td><%= b.title %></td>
        <td><%= b.price %></td>
        <td><%= b.page %></td>
        <td><%= b.description %></td>
    </tr>
    <% end %>
</table>
